ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.input-div{
  display: flex;  
  gap: 8px;
}


.join-btn{
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}


.join-btn:hover{
  background-color: #333; 
  color: #fff;
}



.footer{
  font-family: "Inter", sans-serif;
  padding: 40px 20px;

}


.footer-list li a{
  text-decoration: none;
  color: #444748;
}




.subscription-text{
  color: #444748;
  margin-bottom: 20px;
}


.policy-div ul{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  color: #444748;
}


.bottom-row{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444748;

}